/*----------------------------------------*/
/*  00. PROGRES BAR CSS START
/*----------------------------------------*/
.container-skill {
  margin-top: 300px;
  background-color: #ffffff;
  border-radius: 20px;
  height: auto;
  width: auto;
  padding: 60px 100px 60px 100px;
}

.skill-bar {
  margin-right: 30px;
  margin-bottom: 30px;
}
  
.skill-bar-data {
  margin-bottom: 20px;
}
  
.skill-bar-data .progress-title-holder {
  position: relative;
  margin-bottom: 15px;
}
  
.skill-bar-data .progress-title {
  font-size: 16px;
  font-weight: 600;
  color: #252525;
}
  
.skill-bar-data .progress-number-wrapper {
  width: 100%;
  z-index: 10;
  font-size: 11px;
  line-height: 24px;
  height: 24px;
  letter-spacing: 0;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  color: #FBEDE9;
}
  
.skill-bar-data .progress-number-mark {
  margin-bottom: 4px;
  border-radius: 10px;
  color: #ffffff;
  padding: 0 8px;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 14px;
  font-weight: 600;
  width: 50px;
  height: 32px;
  text-align: center;
  line-height: 28px;
  background: #070b3b;
}
  
.skill-bar-data .progress-content-outter {
  height: 10px;
  background-color: #bddfff;
  border-radius: 5px;
}
  
.skill-bar-data .progress-content {
  height: 10px;
  background-color: #0071dc;
  width: 0%;
  border-radius: 5px;
}

.skill-bar-data .progress-number-mark::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: #070b3b;
  transform: translateX(-50%) rotate(45deg);

}