body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

/* Nav-style-start */
/* Nav-style-end */

/* header-style-start */
.header-area {
    background-color: white;
    color: black;
}
.header-area .social-link-area {
    position: relative;
    text-align: center;
}
.header-area .social-link-area a{
    position: relative;
    text-align: center;
}
/* header-style-end */