.timeline-items{
	max-width: 1000px;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-items::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: #2f363e;
	left: calc(25% - 1px);
}
.timeline-item{
	margin-bottom: 40px;
	width: 100%;
	position: relative;
}
.timeline-item:last-child{
	margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-left: calc(25% + 30px);
}
.timeline-item:nth-child(even){
    padding-left: calc(25% + 30px);
}
.timeline-dot{
	height: 20px;
	width: 20px;
	background-color: #FFDC60;
	position: absolute;
	left: calc(25% - 9px);
	border-radius: 50%;
	top:10px;
}
.timeline-img{
	height: 85px;
	width: 85px;
	background-color: #FFDC60;
	position: absolute;
	left: calc(19.50% - 9px);
	border-radius: 50%;
}
.timeline-img img{
	padding: 10px;
}
.timeline-img-2{
	height: 85px;
	width: 85px;
	background-color: #FFDC60;
	position: absolute;
	left: calc(21% - 9px);
	border-radius: 50%;
}
.timeline-img-2 img{
	padding: 10px;
}
.timeline-date{
    font-weight: bolder;
	font-size: 18px;
	color: #FFDC60;
	margin:7px 0 15px 10px;
}
.timeline-content{
    background-color: #2f363e;
	padding: 30px;
	border-radius: 10px;
}
.timeline-content h3{
    font-size: 20px;
	color: #ffffff;
	margin:0 0 10px;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
}

.timeline-content a h3:hover {
	color: #FFDC60;
}
.tp-title-timeline {
	font-size: 60px;
	color: black;
	font-weight: bolder;
	padding-bottom: 50px;
}

/* responsive */
@media(max-width: 1195px){
	.timeline-items::before{
		left: calc(10% - 1px);
	}
	.timeline-dot{
		left: calc(10% - 9px);
	}
	.timeline-img{
		left: calc(5.50% - 9px);
	}
	.timeline-img-2{
		left: calc(5.50% - 9px);
	}
	.timeline-item:nth-child(odd){
		padding-left: calc(10% + 30px);
	}
	.timeline-item:nth-child(even){
		padding-left: calc(10% + 30px);
	}
	.tp-title-timeline {
		font-size: 50px;
		margin-top: -10px;
		margin-left: 30px;
	}
}
@media(max-width: 767px){
	.timeline-items::before{
		left: calc(7% - 1px);
	}
	.timeline-item:nth-child(odd){
		padding-right: 0;
		text-align: left;
	}
	.timeline-item:nth-child(odd),
	.timeline-item:nth-child(even){
		padding-left: 37px;
	}
	.timeline-dot{
		left: calc(7% - 9px);
	}
	.timeline-img{
		left: calc(5.50% - 35px);
	}
	.timeline-img-2{
		left: calc(5.50% - 35px);
	}
	.timeline-date{
		font-size: 15px;
		margin:8px 10px 15px 10px;
	}
	.tp-title-timeline {
		font-size: 40px;
		margin-left: 50px;
	}
}